# Ignore Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environments
venv/
env/
*.venv

# Ignore Django environment variables and settings
.env
.env.local
*.log
db.sqlite3

# Ignore Django migrations
**/migrations/*

# Ignore Django static and media files
/static/
media/

# Ignore JetBrains, VSCode, and PyCharm IDE settings
.vscode/
.idea/
*.iml
